<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.job.mapper.DeliveryMapper" >
  <resultMap id="BaseResultMap" type="com.job.pojo.Delivery" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="deliveryTime" property="deliverytime" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <!--  关联job表-->
    <association property="job" javaType="com.job.pojo.Job" columnPrefix="j_">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="name" property="name" jdbcType="VARCHAR" />
    </association>
    <!--  关联company表-->
    <association property="company" javaType="com.job.pojo.Company" columnPrefix="c_">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="name" property="name" jdbcType="VARCHAR" />
    </association>
    <!--  关联resumeFile表-->
    <association property="resumefile" javaType="com.job.pojo.ResumeFile" columnPrefix="r_">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="path" property="path" jdbcType="VARCHAR" />
      <result column="user_id" property="userId" jdbcType="INTEGER" />
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from delivery
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="deliveryJob">
    insert into delivery (job_id, user_id, deliveryTime, status)
    values (#{jobId}, #{userId}, #{deliveryTime}, 1)
  </insert>
  <insert id="insert" parameterType="com.job.pojo.Delivery" useGeneratedKeys="true" keyProperty="id" >
    insert into delivery (job_id, user_id, deliveryTime, status)
    values (#{jobId}, #{userId}, #{deliverytime}, #{status})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.job.pojo.Delivery" >
    update delivery
    set job_id = #{jobId},
      user_id = #{userId},
      deliveryTime = #{deliverytime},
      status = #{status}
    where id = #{id}
  </update>
  <update id="pass">
    update delivery
    set status = 2
    where id = #{id}
  </update>
  <update id="fail">
    update delivery
    set status = 6
    where id = #{id}
  </update>
  <update id="interview">
    update delivery
    set status = 3
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from delivery
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select *
    from delivery
  </select>
  <select id="isDelivery" resultType="java.lang.Integer">
    select count(*)
    from delivery
    where user_id = #{userId} and job_id = #{jobId}
  </select>
  <select id="deliveryCount" resultType="java.lang.Integer">
    select count(*)
    from delivery
    where user_id = #{userId}
  </select>
  <select id="selectDeal" resultMap="BaseResultMap">
    select dj.*,
           r.id as r_id,
           r.name as r_name,
           r.path as r_path
    from (
		    select cj.*, d.*
		    from (
				    select j.id as j_id, j.`name` as j_name
				    from job j
				    left join company c on j.company_id = c.id
				    where c.id = #{companyId}
			) cj
		    left join delivery d on cj.j_id = d.job_id
	) dj
    left join resumefile r on dj.user_id = r.user_id
  </select>
</mapper>